header{
    background-color: black;
    height: 50px;
}
li{
    list-style: none;
    display: inline-block;
    padding-top: 15px;
}
a{
    text-decoration: none;
    font-size: 14pt;
    color: white;
    margin: 10px;
}
footer{
    background-color: black;
    height: 50px;
}
h2{
    font-size: 18pt;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.slider{
    background-image: linear-gradient(to top right, darkcyan,white);
    height: 650px;
}
.slider-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image{
    float: left;
    margin-right: 20px;
    
}
p{
    column-count: 4;
    column-fill: auto;
    column-rule: 3px double black;
    padding left: 15px;
}
.content{
    background-image: linear-gradient(to right, darkcyan, white);
}